

    <h1>Nuevo Trabajo</h1>
    <br>
    <h2>Trabajo para el paciente: {{ patient.first_name  }} {{ patient.last_name }}</h2>
    <br>
    <p>Doctor: {{ session['user_info']['first_name'] }} {{ session['user_info']['last_name'] }}</p>
    <br>
    <script type="module" src="{{ url_for('static', filename='js/stl-viewer/stl-viewer.js') }}"></script>
    <div>
        <p> Nombre del archivo: {{ filename }}</p>
        <br>
        <stl-viewer model="{{ url_for('static', filename='uploads/' + filename) }}"></stl-viewer>
        <p> URL del archivo: {{ url_for('static', filename='uploads/' + filename) }}</p>
        <br>
        <p> numero de id de upload: {{ upload_id }}</p>
    </div>
    <form method="post">
        <div class="form-group">
            <table>
                <tr>
                    <th><label for="18">18</label></th>
                    <th><label for="17">17</label></th>
                    <th><label for="16">16</label></th>
                    <th><label for="15">15</label></th>
                    <th><label for="14">14</label></th>
                    <th><label for="13">13</label></th>
                    <th><label for="12">12</label></th>
                    <th><label for="11">11</label></th>      
                    <th><label for="21">21</label></th>
                    <th><label for="22">22</label></th>
                    <th><label for="23">23</label></th>
                    <th><label for="24">24</label></th>
                    <th><label for="25">25</label></th>
                    <th><label for="26">26</label></th>
                    <th><label for="27">27</label></th>
                    <th><label for="28">28</label></th>
                </tr>
                <tr>
                    <td><input type="checkbox" id="18" value="18" name="teeth"></td>
                    <td><input type="checkbox" id="17" value="17" name="teeth"></td>
                    <td><input type="checkbox" id="16" value="16" name="teeth"></td>
                    <td><input type="checkbox" id="15" value="15" name="teeth"></td>
                    <td><input type="checkbox" id="14" value="14" name="teeth"></td>
                    <td><input type="checkbox" id="13" value="13" name="teeth"></td>
                    <td><input type="checkbox" id="12" value="12" name="teeth"></td>
                    <td><input type="checkbox" id="11" value="11" name="teeth"></td>
                    <td><input type="checkbox" id="21" value="21" name="teeth"></td>
                    <td><input type="checkbox" id="22" value="22" name="teeth"></td>
                    <td><input type="checkbox" id="23" value="23" name="teeth"></td>
                    <td><input type="checkbox" id="24" value="24" name="teeth"></td>
                    <td><input type="checkbox" id="25" value="25" name="teeth"></td>
                    <td><input type="checkbox" id="26" value="26" name="teeth"></td>
                    <td><input type="checkbox" id="27" value="27" name="teeth"></td>
                    <td><input type="checkbox" id="28" value="28" name="teeth"></td>
                </tr>

                <tr>
                    <td><input type="checkbox" id="48" value="48" name="teeth"></td>
                    <td><input type="checkbox" id="47" value="47" name="teeth"></td>
                    <td><input type="checkbox" id="46" value="46" name="teeth"></td>
                    <td><input type="checkbox" id="45" value="45" name="teeth"></td>
                    <td><input type="checkbox" id="44" value="44" name="teeth"></td>
                    <td><input type="checkbox" id="43" value="43" name="teeth"></td>
                    <td><input type="checkbox" id="42" value="42" name="teeth"></td>
                    <td><input type="checkbox" id="41" value="41" name="teeth"></td>
                    <td><input type="checkbox" id="31" value="31" name="teeth"></td>
                    <td><input type="checkbox" id="32" value="32" name="teeth"></td>
                    <td><input type="checkbox" id="33" value="33" name="teeth"></td>
                    <td><input type="checkbox" id="34" value="34" name="teeth"></td>
                    <td><input type="checkbox" id="35" value="35" name="teeth"></td>
                    <td><input type="checkbox" id="36" value="36" name="teeth"></td>
                    <td><input type="checkbox" id="37" value="37" name="teeth"></td>
                    <td><input type="checkbox" id="38" value="38" name="teeth"></td>
                </tr>

                <tr>
                    <th><label for="48">48</label></th>
                    <th><label for="47">47</label></th>
                    <th><label for="46">46</label></th>
                    <th><label for="45">45</label></th>
                    <th><label for="44">44</label></th>
                    <th><label for="43">43</label></th>
                    <th><label for="42">42</label></th>
                    <th><label for="41">41</label></th>      
                    <th><label for="31">31</label></th>
                    <th><label for="32">32</label></th>
                    <th><label for="33">33</label></th>
                    <th><label for="34">34</label></th>
                    <th><label for="35">35</label></th>
                    <th><label for="36">36</label></th>
                    <th><label for="37">37</label></th>
                    <th><label for="38">38</label></th>
                </tr>
            </table>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

            <label for="comments">Comentarios:</label>
            <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>

            <label for="tooth_type">Tipo de diente:</label>
            <select class="form-control" id="tooth_type" name="tooth_type">
                <option value="Natural">Natural</option>
                <option value="Implante">Implante</option>
            </select>

            <label for="job_type">Tipo de trabajo:</label>
            <select class="form-control" id="job_type" name="job_type">
            {% for job_type in job_type_list %}
                <option value="{{ job_type }}">{{ job_type }}</option>
            {% endfor %}
            </select>

            <label for="job_material">Material de trabajo:</label>
            <select class="form-control" id="job_material" name="job_material">
            {% for job_material in job_material_list %}
                <option value="{{ job_material }}">{{ job_material }}</option>
            {% endfor %}
            </select>

            <label for="job_option">Opción de trabajo:</label>
            <select class="form-control" id="job_option" name="job_option">
                <option value="Monolítico">Monolítico</option>
                <option value="Estratificado">Estratificado</option>
            </select>






            <!-- Botón de envío -->
            <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
    </form>
   
