{% extends 'base.html' %}

{% block content %}
 <h1>{% block title %}Dental Art Studio {% endblock %}</h1>
 
 {% with messages = get_flashed_messages() %}
 {% if messages %}
    <ul class="flashes">
     {% for message in messages %}
         <li>{{ message }}</li>
     {% endfor %}
     </ul>
 {% endif %}
{% endwith %}

{% if user %}

    <p class="user">Welcome, Dr. {{ user['last_name'] }} {{ user['first_name'] }}!</p>
    <p><a href="{{ url_for('logout') }}">Log out</a></p>
     {% if patients %}
        <ul>
            {% for patient in patients %}
                <li>{{ patient['name'] }} </li>
            {% endfor %}
        </ul>
    {% elif not patients %}
        <p>No patients found</p>
    {% endif %}

{% else %}
    <p class="user">Welcome </p>
    <p><a href="{{ url_for('login') }}">Log in</a> or <a href="{{ url_for('register') }}">register</a></p>
{% endif %}





{% endblock %}