{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Inicio de  sesión{% endblock %}</h1>

<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Nombre de usuario" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Contraseña" type="password">
    </div>
    <div class="mb-3 login__button">
        <button class="btn btn-primary" type="submit">Iniciar sesión</button>
    </div>
</form>



{% endblock %}