{% extends "base.html" %}



{% block content %}

<h1>{% block title %}
    Registrarse
{% endblock %}</h1>

    <form action="/register" method="POST">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="Nombre" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="lastname" name="lastname" placeholder="Apellido" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Correo electrónico" type="email">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Nombre de usuario" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Contraseña" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirme contraseña" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Registrarse</button>
    </form>

{% endblock %}